<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Stacking Pool Registry
        </q-toolbar-title>

        <div> v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Pool Registry
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Home',
    caption: '',
    icon: 'home',
    target: '',
  },
  {
    title: 'Registry',
    caption: 'Public pools',
    icon: 'public',
    link: '#/registry',
    target: ''
  },
  {
    title: 'Delegating',
    caption: 'Stack your $STX',
    icon: 'account_balance',
    link: '#/delegating',
    target: ''
  },
  {
    title: 'Add Pool',
    caption: 'For admins',
    icon: 'create',
    link: '#/add',
    target: ''
  },
  {
    title: 'git',
    caption: 'riot.ai/clarity-pool-registry',
    icon: 'code',
    link: 'https://gitlab.com/riot.ai/clarity-pool-registry'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'Stacks server',
    icon: 'chat',
    link: 'https://discord.gg/9uaNPkH'
  },
  {
    title: 'Forum',
    caption: 'forum.stacks.org',
    icon: 'record_voice_over',
    link: 'https://forum.stacks.org'
  },
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
