<template>
  <q-page padding>
    <q-section><h1>Add Pool</h1>
    <form @submit.prevent="addPool" class="q-pa-md">
      <q-input
        type="text"
        color="teal"
        hint="Pool's name"
        v-model="poolName"
      />

      <q-input
        type="text"
        color="teal"
        hint="Pool's Bitcoin address"
        v-model="rewardAddress"
      />

      <q-input
        type="text"
        color="teal"
        hint="Pool's home page"
        v-model="url"
      />

      <q-input
        type="string"
        color="teal"
        hint="optional smart contract of the pool for delegation"
        v-model="contractPrincipal"
      />

      <q-input
        type="string"
        color="teal"
        hint="optional extended smart contract of the pool for delegation"
        v-model="extendedContractPrincipal"
      />

      <q-input
        type="number"
        color="teal"
        hint="Minimum STX required from Stackers"
        v-model="minimumUstx"
      />

      <q-input
        type="text"
        color="teal"
        hint="How does the pool payout?"
        v-model="payout"
      />

      <div class="row justify-end">
        <q-btn
          type="submit"
          :loading="submitting"
          label="Delegate"
          class="q-mt-md"
          color="teal"
        >
          <template v-slot:loading>
            <q-spinner-facebook />
          </template>
        </q-btn>
      </div>
    </form>
    </q-section>

  </q-page>
</template>

<script>
export default {
  name: 'AddPool',
  data () {
    return {
      poolName: "",
      rewardAddress: "",
      url: "",
      contractPrincipal: "",
      extendedContractPrincipal: "",
      minimumUstx: 100000000,
      payout: "",
    }
  },
   methods: {
    addPool () {
      this.submitting = true
      const contractAddress = "ST"
      const contractName = "pool-registry-v1"
      const functionArgs = [
        poxAddrCV(this.poolName),
      ]

      openContractCall({
        contractAddress,
        contractName,
        functionName: "register",
        functionArgs,
        onFinish: () => {
          this.submitting = false
        }
      })
    }
  }
}
</script>
