<template>
  <q-page padding>
    <q-section><h1>Pool Registry</h1>
    <form class="q-pa-md">
      <q-input
        type="number"
        color="teal"
        hint="Amount"
        v-model="amount"
      />

      <q-input
        type="number"
        color="teal"
        hint="Locking period in cycles"
        v-model="lockingPeriod"
      />

      <q-input
        type="string"
        color="teal"
        hint="Bitcoin address of pool admin"
        v-model="adminAddress"
      />


      <q-input
        type="string"
        color="teal"
        hint="Bitcoin address of user"
        v-model="adminAddress"
      />
      <!--
        A button with v-model set to submit.
        v-model scope variable must be a strict Boolean
      -->
      <div class="row justify-end">
        <q-btn
          type="submit"
          :loading="submitting"
          label="Save"
          class="q-mt-md"
          color="teal"
        >
          <template v-slot:loading>
            <q-spinner-facebook />
          </template>
        </q-btn>
      </div>
    </form>
    </q-section>

  </q-page>
</template>

<script>
export default {
  name: 'Registry',
}
</script>
